body{
    overflow-x: hidden;
}
#background{
    background-repeat: no-repeat;
    animation-name: backimg;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    z-index: -10;
    margin-top: -150px;
    position: absolute;
}

@keyframes backimg {
    0% {
      transform: translateX(-150%) ;
    }
    100% {
      transform: translateX(60%);
    }
  }
#logo img{
    border-radius: 20px;
    vertical-align: middle;
    margin-right: 20px;
}
#logo{
    font-size: 20px;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;
}
nav ul{
    
    width: 100%;
    height: 100px;
    display: flex;  
}

nav li{
    float: left;
    flex: 1;
    text-align: center;
    line-height: 100px;
}
nav a:link{color: black;}
nav a:visited{color: black;}
nav a:hover{color: gray;}

content{
    margin: 0 auto;
    margin-top:300px;
    display: flex;
    width: 80%;
    
}
content div{
    flex: 1;
    vertical-align: middle;
}
content div p{
    font-size: 40px;
    margin-top: -150px;
}
content div h1{
    font-size: 80px;
}

#mountain{
    margin: 0 auto;
    width: 100%;
    height: 750px;
    background-color: #389561;
}
#aha2{
    transform: rotate(15deg);
}
#aha4{
    transform: rotate(350deg) translateY(-180px) translateX(30px);
}
#aha5{
    transform: translateX(-100px)rotate(20deg);
}
.ahatxt span {
    display: inline-block;
    margin: 0 -.05em;
    animation: ahatxt 7s infinite alternate;
  }
  .ahatxt span:nth-child(2) {
    animation-delay: .1s;
  }
  .ahatxt span:nth-child(3) {
    animation-delay: .2s;
  }
  .ahatxt span:nth-child(4) {
    animation-delay: .3s;
  }

  @keyframes ahatxt {
    0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
  }
  #aha_explain{
    float: left;
    color: white;
    margin-top: 150px;
    text-align: left;
    margin-left: 300px;
  }
  #aha_explain p:nth-child(1){
      font-size: 40px;
      
  }
  #aha_explain p:nth-child(3){
    font-size: 20px;
}
#aha_explain ul a{
    color: white;
}
#aha_explain ul li{
    margin-bottom:20px;
}
#aha_explain ul{
    margin-top: 30px;
    font-size: 20px;
}
#aha_explain ul a:hover .go{
    position: relative;
	animation: gogogo .9s infinite;
}
@keyframes gogogo{
    from{left: -3px}
    to{ left:3px }
}
#sth{
    background-color: white;
    width: 90%;
    margin: 0 auto;
    padding: 100px;
}
.title{
    text-align: left;
    font-size: 50px;
}

#topsth, #botsth{
    display: flex;
    margin-top: 50px;
}
.left_lay{
    float: left;
    flex:1;
}