body{
    overflow-x: hidden;
}
#background{
    background-repeat: no-repeat;
    animation-name: backimg;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    z-index: -10;
    position: absolute;
}

@keyframes backimg {
    0% {
      transform: translateX(-150%);
    }
    100% {
      transform: translateX(60%);
    }
  }
#logo img{
    border-radius: 20px;
    vertical-align: middle;
    margin-right: 20px;
}
#logo{
    font-size: 20px;
}
nav ul{
    
    width: 100%;
    height: 100px;
    display: flex;  
}

nav li{
    float: left;
    flex: 1;
    text-align: center;
    line-height: 100px;
}
nav a:link{color: black;}
nav a:visited{color: black;}
nav a:hover{color: gray;}

content{
    margin-top:80px;
    display: flex;
    width: 100%;
}
content div{
    flex: 1;
    vertical-align: middle;
}
content div p{
    font-size: 40px;
    margin-top: 50px;
}
content div h1{
    font-size: 80px;
}

#mountain{
    margin: 0 auto;
    width: 100%;
    height: 600px;
    background-color: #2E8B57;
}
#aha2{
    transform: rotate(15deg);
}
#aha4{
    transform: rotate(350deg) translateY(-180px) translateX(30px);
}
#aha5{
    transform: translateX(-100px)rotate(20deg);
}
.ahatxt span {
    display: inline-block;
    margin: 0 -.05em;
    animation: ahatxt 4s infinite alternate;
  }
  .ahatxt span:nth-child(2) {
    animation-delay: .1s;
  }
  .ahatxt span:nth-child(3) {
    animation-delay: .2s;
  }
  .ahatxt span:nth-child(4) {
    animation-delay: .3s;
  }

  @keyframes ahatxt {
    0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
  }